.container {
    width: min(100%, 1440px);
    margin: auto;
    position: relative;
    padding-top: 50px;
}

header {
    max-width: 1180px;
    width: calc(1180/ 1440 * 100%);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    display: flex;
    padding: 6px 0px;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    display: none;
    font-size: 32px;
}

.header_title {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

h1 {
    color: #FA793C;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_navigation {
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

.header_ul {
    display: flex;
    column-gap: 32px;
}

.header_li {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.fa-circle-user {
    font-size: 24px;
}

/* section1  */
.section1 {
    height: 550px;
    padding: 185px 130px;
    background-image: url(../images/section1_cover.png);
}

.section1_title {
    color: #FFF;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
}

.section1_text {
    color: #FFF;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* section2 */
.section2 {

    width: calc(1180 / 1440 * 100%);
    margin: 130px auto;
}

.section2_title {
    font-family: Kanit;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 34px;
}

.cards_wraper {
    display: flex;
    column-gap: 20px;
}

.section2_div {
    display: flex;
    column-gap: 20px;
    width: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section2_article {
    width: 380px;
    border: 1px solid #000;
}

.section2_article_img {
    width: 100%;
    height: 190px;
}

.section2_article_div1 {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.section2_article_title {
    color: #000;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.section2_article_text {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0 24px 0;
}

.section2_article_div2 {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.fa-clock {
    font-size: 24px;
}

/* section3 */
.section3 {
    width: calc(1180 / 1440 * 100%);
    margin: 0 auto;
}

.section3_title {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 34px;
}

.section3_div {
    display: flex;
    column-gap: 20px;
}

.section3_card_wraper {
    width: 780px;
    height: 400px;
    padding: 143px 37px;
    background-image: url(../images/photograph1.png);
}

.section3_card_wraper_title {
    color: #FFF;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 16px;
}

.section3_text {
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.section3_photo_wraper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section3_imgs {
    width: 100%;
    height: 190px;
}

/* footer */
footer {
    margin-top: 80px;
    padding: 31px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    column-gap: 14px;
}

.footrr_title {
    color: #FFF;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}