@media (max-width:650px) {
    .header_ul {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}

@media(max-width: 550px) {

    .cards_wraper {
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }

    .section2_article{
        width: 347px;
    }

    .section2{
        width: 347px;
        margin: 48 auto;
    }

    .section3_photo_wraper{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}